body {
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
}

.logo {
  height: 40px;
}

.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.lista {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.lista li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease;
}

.lista li a:hover {
  color: rgb(253, 143, 0);
}

.botao-cima {
  background-color: rgb(253, 143, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  background-color: #003d35;

}

.texto-hero h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.texto-hero p {
  font-size: 20px;
}

.imagem-hero {
  width: 600px;
}